{% extends "/pages/blog/blog_base.html" %}
{% block title %}Inicio{% endblock %}

{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/blog.css"/>

{% endblock %}

{% block content %}
{{super()}}
{% endblock %}
<!---->

{% block entry%}
    <div class="leftcolumn">
      <h1>Top 10 tecnologías blockchain utilizadas por empresas</h1>
      <h3>Hyperledger:</h3>
      <p>Es una fundación enfocada en ayudar a las empresas a la hora de implementar tecnología blockchain. Actualmente es la compañía que más servicios criptográficos ofrece en el mercado con una lista de empresas que la utilizan enorme, además, es desarrollada por la linux fundation, una fundación sin ánimo de lucro.</p>

      <h3>Ethereum</h3>
      <p>aquí escribo ethereum</p>

      <h3>Quorum</h3><a href="https://consensys.net/quorum/qbs/" target="_blank">Link a su web oficial</a>
      <p>Cómo se describen así mismos: Quorum Blocchain Service es un libro mayor que brinda a las empresas la posibilidad de operar blockchain y escalar.</p>
      <p>Es un servicio de blockchain privado que ayuda a las empresas a tener sus propias bases de datos descentralizadas dentro de la misma compañía. También permite la implementación de contraos inteligentes y dapps.</p>https://twitter.com/invercript/status/1508825052833366020?s=20&t=vA1QvV7s73pzpZKWeDP11A

    </div>
{% endblock %}

{% block footer%}
{{super()}}
{% endblock %}