{% extends "/pages/blog/blog_base.html" %}
{% block title %}Wiki{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/blog.css"/>

{% endblock %}

{% block content %}
{{super()}}
{% endblock %}

<!---->
{% block entry%}
    <div class="leftcolumn">
      <h1>Wiki del blog</h1>
      <h4>Que blockchains utilizan las empresas</h4>
      <ul>
        <li><a href="/blog/hyperledger">Hyperledger</a></li>
      </ul>
      <h4>Estrategias de inversión</h4>
      <ul>
        <li><a href="/blog/estrategias/volumen">Volumen</a></li>
      </ul>
      <h4>Criptomonedas</h4>
      <ul>
        <li><a href="/blog/criptomonedas/ada">Ada</a></li>
      </ul>
    </div>
{% endblock %}

{% block footer%}
{{super()}}
{% endblock %}