{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>
      <style type="text/css">
        body {
          font-family: Arial;
          padding: 20px;
          background: #f1f1f1;
        }

        /* Header/Blog Title */
        .header {
          padding: 30px;
          font-size: 40px;
          text-align: center;
          background: white;
        }

        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {
          float: left;
          width: 75%;
        }

        /* Right column */
        .rightcolumn {
          float: right;
          width: 25%;
          padding-left: 20px;
        }

        /* Fake image */
        .fakeimg {
          background-color: #aaa;
          width: 100%;
          padding: 5px;
        }
        /* Add a card effect for articles */
        .card {
          background-color: white;
          padding: 20px;
          margin-top: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        /* Footer */
        .footer {
          padding: 20px;
          text-align: center;
          background: #ddd;
          margin-top: 20px;
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 800px) {
          .leftcolumn, .rightcolumn {
            width: 100%;
            padding: 0;
          }
        }
      </style>

{% endblock %}

<!---->




  {% block content %} 
<div class="container">
  <div class="header">
    <h2>InverCript blog</h2>
  </div>
    <div class="row">
      {% block entry %}
      {% endblock %}
      <div class="rightcolumn">
        <div class="card">
          <h2>Sobre InverCript</h2>
          <div class="lanza-logo" style="height:200px;"><img style="width:100% ; height:100%" src="/static/img/blog/logolanza.png"></div>
          <p>Invercript es una empresa especializada en gestión de activos criptográficos.</p>
        </div>
        <div class="card">
          <h3>Páginas populares</h3>
          <div class="fakeimg"><a href="/blog/wiki">wiki</a></div><br>
          <div class="fakeimg"><a href="/blog/hyperledger">Hyperledger</a></div><br>
          <div class="fakeimg"><a href="/blog/estrategias/volumen">Volumen</a></div>
        </div>
        <div class="card">
          <h3>Follow Me</h3>
          <a href="https://twitter.com/invercript" target="_blank"><img src="/static/img/twitter.svg"></a>
        </div>
      </div>
    </div>
  {% endblock %}


{% block footer %}
  <div class="footer">
    <h2>Invercript información</h2>
  </div>
{% endblock %}


