{% extends "/pages/blog/blog_base.html" %}
{% block title %}Inicio{% endblock %}

{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/blog.css"/>

{% endblock %}

{% block content %}
{{super()}}
{% endblock %}
<!---->

{% block entry%}
    <div class="leftcolumn">
      <h1>Beneficios de invertir con InverCript</h1>
      <h3>Fiscalidad</h3>
      <p>Con la nueva normativa, como persona estamos obligados a declarar cada  intercambio y avisar de que cada wallet a la que movemos fondos está bajo nuestra propiedad. A causa de ello, se vuelve engorroso y caro el mantener una contabilidad exhaustiva de todos los intercambios que realizamos y del beneficio obtenido con cada uno. Además, para aprovechar todas las oportunidades que brinda un mercado en constante cambio, necesitamos hacer varias o incluso muchos cambios dependiendo del perfil de cada inversor.</p>
      <h3>Invercript lo simplifica</h3>
      <p>Nuestra gestión te simplifica el problema que es tratar con hacienda. Tendrás que presentar los resultados que obtienes sólo cuando retiras tu dinero. Además, estaremos implementando cada cambio regulatorio que se requiera e informaremos a nuestros clientes sobre cuál es la legislación actual y sus cambios presentes y futuros.</p>

      <h3>Conocimiento</h3>
      <p>El ecosistema cambia con rápidez, surgen nuevos proyectos, otros pasan por fases de problemas, tecnologías novedosas y términos desconocidos. Blockchain y las criptomonedas son una tecnología reciente de la cuál aún estamos descubriendo sus inicios y hacia dónde se encamina. Es por ello, que mantenerse informado de toda la información es muy complicado.</p>
      <h3>InverCript te ayuda</h3>
      <p>Nuestro equipo está todos los días atento a los avances tecnológicos del entorno, consiguiendo así, un conocimiento general del ecosistema amplio y que permite adaptarse con rápidez y eficiencia a los cambios.</p>
      <p>Con nuestros 4 perfiles de inversión, podrá simplemente escoger la estrategia con la que se siente más cómodo y nosotros nos encargaremos de su operativa.</p>


    </div>
{% endblock %}

{% block footer%}
{{super()}}
{% endblock %}