{% extends "/pages/blog/blog_base.html" %}
{% block title %}Inicio{% endblock %}

{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/blog.css"/>

{% endblock %}

{% block content %}
{{super()}}
{% endblock %}
<!---->

{% block entry%}
    <div class="leftcolumn">
      <h1>La seguridad de InverCript</h1>
      <h3>Volatilidad</h3>
      <p>Un mercado nuevo es también un mercado volátil. Como personas, los cambios bruscos asustan y con nuestras inversiones, podemos temblar al ver variar porcentajes nuestras carteras.</p>
      <h4>Invercript gestiona</h4>
      <p>Promediar las compras y efectuarlas a precios atractivos es difícil, pero tenemos las herramientas para conseguirlo. Para nuestros perfiles menos arriesgados utilizamos inversiones estables que otorgan rentabilidad sin arriesgar el capital a subidas o bajadas del mercado.</p>
      <p>Para nuestros inversores más especializados, contamos con estrategias de cobertura, promediaje de la entrada y estudios de mercado que aumentan la eficiencia de tus activos.</p>

      <h3>Seguridad</h3>
      <p>El cripto mundo está lleno de estafas, robos, chantajes. Es un lugar peligroso para mover tanto grandes fondos como pequeños.</p>
      <h4>Nuestra protección</h4>
      <p>Utilizamos equipos aislados, carteras custodia con las llaves guardadas en cámaras fuertes y requisitos de retiro con multifirma que impiden a cualquier desconocido acceder a tus fondos.</p>


    </div>
{% endblock %}

{% block footer%}
{{super()}}
{% endblock %}