{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->
<div class="container">
  <br>
  <br>
      <img src="../static/img/ahorro/image1.jpg">

  <br>
  <br>
  <div>
    <div class="row">

      <div class="col">
        <div class="card text-center h-100">
          <div class="card-header bg-primary bg-gradient">
            <br>
          </div>
          <div class="card-body">
            <h4 class="card-title">¿Cómo ahorrar en cripto?</h4>
            <p class="card-text">Ahorrar en critp es cómo ahorrar en cualquier otro activo.</p>
            <a href="/contacto" class="btn btn-primary">Preguntenos</a>
          </div>
          <div class="card-footer text-muted bg-primary bg-gradient">
            <br>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center h-100">
          <div class="card-header bg-primary bg-gradient">
            <br>
          </div>
          <div class="card-body">
            <h4 class="card-title">¿Cómo sé en que invertir?</h4>
            <p class="card-text">El mercado cripto es un mercado novedoso y con mucha información disponible. Por ello nosotros nos encargamos de filtrala y escoger los mejores y más seguros proyectos.</p>
            <a href="/contacto" class="btn btn-primary">Preguntenos</a>
          </div>
          <div class="card-footer text-muted bg-primary bg-gradient">
            <br>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center h-100">
          <div class="card-header bg-primary bg-gradient" >
            <br>
          </div>
          <div class="card-body">
            <h4 class="card-title">El mercado es muy volatil</h4>
            <p class="card-text">Por eso, nosotros nos encargamos de la gestión del riesgo. Para que sepa que puede tener sus ahorros completament protegidos.</p>
            <a href="/contacto" class="btn btn-primary">Preguntenos</a>
          </div>
          <div class="card-footer text-muted bg-primary bg-gradient">
            <br>
          </div>
        </div>
      </div>

    </div>

    
  </div>

</div>


{% endblock %}