{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->
<div class="container">
  <br>
  <br>
      <img src="../static/img/ahorro/image1.jpg">

  <br>
  <br>
  <div>
    <div class="row">

      <div class="col">
        <div class="card text-center h-100">
          <div class="card-header bg-primary bg-gradient">
            <br>
          </div>
          <div class="card-body">
            <h4 class="card-title">¿Qué beneficios aportamos?</h4>
            <p class="card-text">Ahorrar en cripto con InverCript permite a nuestros clientes simplificar su operativa y fiscalidad.</p>
            <a href="/blog/beneficios/fiscalidad" class="btn btn-primary">Quiero saber más</a>
          </div>
          <div class="card-footer text-muted bg-primary bg-gradient">
            <br>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center h-100">
          <div class="card-header bg-primary bg-gradient">
            <br>
          </div>
          <div class="card-body">
            <h4 class="card-title">¿En que invierto?</h4>
            <p class="card-text">Escoger entre minar en físico o en la nube; comprar el adyacente o un derivado; aguantar o vender ahora, es difícil.</p>
            <p>Nuestro portafolio está diversificado</p>
            <a href="/blog/beneficios/diversificacion" class="btn btn-primary">Tipos de activos</a>
          </div>
          <div class="card-footer text-muted bg-primary bg-gradient">
            <br>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center h-100">
          <div class="card-header bg-primary bg-gradient" >
            <br>
          </div>
          <div class="card-body">
            <h4 class="card-title">El mercado es volátil e inseguro</h4>
            <p class="card-text">Nos encargamos de la gestión del riesgo y mantener tus fondos con la máxima protección.</p>
            <a href="/blog/beneficios/seguridad" class="btn btn-primary">Cómo protegemos tus activos</a>
          </div>
          <div class="card-footer text-muted bg-primary bg-gradient">
            <br>
          </div>
        </div>
      </div>

    </div><!--cierre del row-->
    <br>
    <br>
    <div class="row">
      <div class="col" style="display: flex;justify-content: center; padding-top: 90px;">
        <h4 style="flex">Invertir tiene sus riesgos</h4>
      </div>
      <div class="col">
      <p>Invertir no está exento de riesgos, por lo que puede perder (parte de) su depósito. Nosotros, desde InverCript, queremos ser 100% transparentes y avisamos de los riesgos que puede suponer.</p>
      <p>Tenemos diferentes mecanismos para que pueda decidir el nivel de riesgo que está dispuesto a asumir. Sin embargo, no es aconsejable invertir utilizando dinero que pueda necesitar en el corto plazo o que le aporte dificultades financieras.</p>
      <a href="/nuestrosProductos" class="btn btn-primary">Conozca nuestros productos</a>
      </div>
    </div>

    
  </div>

</div>


{% endblock %}