{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <br>
  <br>
  <p><h4>Teléfono de contacto: </h4>663564653</p>
  <h4>e-mail:</h4>
  <p>invercript.oficial@protomail.com</p>
  <br>
  <h4>Contactanos:</h4>
  Los campos marcados con * serán obligatorios.
  <p>
  {{2+2}}
  {{ciudad}}
  </p>
<form class="row g-3" method="post">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email*</label>
    <input id="e-mail" type="email" class="form-control" id="inputEmail4" name="e-mail">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Dirección</label>
    <input id="direcion" type="text" class="form-control" id="inputAddress" placeholder="" name="direccion">
  </div>
  <!--<div class="col-12">
    <label for="inputAddress2" class="form-label">Dirección 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="">
  </div>-->
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Ciudad</label>
    <input id="ciudad" type="text" class="form-control" id="inputCity" name="ciudad">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Comunidad</label>
    <select id="inputcomunidad" class="form-select" name="comunidad">
      <option>Galicia</option>
      <option>Navarra</option>
      <option>País Vasco</option>
      <option>Aragón</option>
      <option>Cataluña</option>
      <option>Castilla y León</option>
      <option>Madrid</option>
      <option>Valencia</option>
      <option>Castilla-La Mancha</option>
      <option>Andalucía</option>
      <option>Baleares</option>
      <option>Canarias</option>
      <option selected>Otra</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Código postal</label>
    <input id="codigo-postal" type="text" class="form-control" name="codPostal">
  </div>

  <div class="col-12">
    <br>
    <br>
    <div class="form-check">
      <input id="proteccion-confirmacion" class="form-check-input" type="checkbox" name="check">
      <label class="form-check-label" for="gridCheck">
        Confirmo haber leído nuestra política de protección de datos.
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>

</div>
<p id="textoJson"></p>

<script src="../../static/contacto.js">
</script>
{% endblock %}