{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h2 class="text-center" style="margin: 70px;">Como funciona InverCript</h2>

  <div class="row" style=";margin: 150px;">
    <div class="col">
      <div>
        <div class="card-body" style="height: 150px">
          <p>Nuestra gestión está diseñada para ajustarnos al perfil de riesgo de nuestros clientes. De esta manera, hemos diseñado 4 sistemas de gestión del capital:</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div>
          <table style="height: 150px">
            <tbody>
              <tr>
                <td class="align-middle">
                  <p>Seguridad|</p></td>
                <td class="align-middle"><p>Ahorro|</p></td>
                <td class="align-middle"><p>Inversión|</p></td>
                <td class="align-text-middle"><p>Beneficio|</p></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <div class="row mx-auto" style="margin: 200px">
    <table class="col bg-primary" style="margin-right: 20px; height: 100%; background-image:linear-gradient(to right, blue, white);">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="text-center">InverCript seguridad</h1></td>
        </tr>
      </tbody>
    </table>
    <table class="col">
      <tbody>
        <tr>
          <td class="align-middle"><p>Queremos conseguir que cripto y estabilidad vallan de la mano, para así otorgar tranquilidad a nuestros inversores. Al escoger nuestro perfil más seguro, los activos se repatirán en diferentes mecanismos de ahorro a largo plazo que garantizan la seguridad del capital y otorgan rentabilidad para mantener el poder adquisitivo de nuestros activos.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--<div class="row mx-auto" style="margin: 100px;">
    <table class="col bg-primary" style="margin-right: 20px; height: 300px">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="text-center">Seguridad</h1></td>
        </tr>
      </tbody>
    </table>
    <div class="col" style="border: solid gray 1px; margin-left: 20px;">
      <p>Queremos conseguir que cripto y estabilidad vallan de la mano, para así otorgar tranquilidad a nuestros inversores. Al escoger nuestro perfil más seguro, los activos se repatirán en diferentes mecanismos de ahorro a largo plazo que garantizan la seguridad del capital y otorgan rentabilidad para mantener el poder adquisitivo de nuestros activos.</p>
    </div>
  </div>-->

  <div class="row mx-auto" style="margin: 200px">
    <table class="col" style="margin-right: 20px; height: 150px">
      <tbody>
        <tr>
          <td class="align-middle"><p>Las criptomonedas han llegado para quedarse. Con este conocimiento, el perfil más ahorrador se centra en criptomonedas de alta capitalización y uso. Un seguimiento intensivo de la tecnología que está detrás nos permite escoger los activos con más futuro y utilidad para empresas y personas. Ahorre en cripto, o mejor dicho:</p>
            <h3 class="text-center">Bienestar para su dinero</h3>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="col" style="background-image:linear-gradient(to left, blue, white); height: 100%;">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="text-center">InverCript ahorro</h1></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--<div class="row mx-auto" style="margin: 100px">
    <div class="col" style="border: solid gray 1px; margin-right: 20px; height: 300px">
      <p>Las criptomonedas han llegado para quedarse. Con este conocimiento, el perfil más ahorrador se centra en criptomonedas de alta capitalización y uso. Un seguimiento intensivo de la tecnología que está detrás nos perite escoger los activos con más futuro y utilidad para empresas y personas.</p>
    </div>
    <table class="col bg-primary" style="margin-left: 20px;">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="text-center">Ahorro</h1></td>
        </tr>
      </tbody>
    </table>
  </div>-->

  <div class="row mx-auto" style="margin: 200px">
    <table class="col" style="margin-right: 20px; height: 100%; background-image: linear-gradient(to right, blue, white);">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="text-center">InverCript inversión</h1></td>
        </tr>
      </tbody>
    </table>
    <table class="col">
      <tbody>
        <tr>
          <td class="align-middle"><p>Las criptos del futuro: Haciendo uso del mismo objetivo que el perfil ahorrador, pero ampliando su perspectiva y visión a criptos más novedosas y con futuro, podemos brindar mayores rendimientos potenciales a nuestros inversores. Cripto es un mercado nuevo, competitivo y en continuo avance, es por ello que existen muchas oportunidades y se encuentran proyectos con enorme potencial a futuro y que aún no son tan conocidos.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row mx-auto" style="margin: 200px;">
    <table class="col" style="margin-right: 20px; height:150px">
      <tbody>
        <tr>
          <td class="align-middle"><p>Un mercado que va directo a la Luna: La fusión de nuestros perfiles ahorrador e inversor, pero extendiendo una parte de la gestión a activos arriesgados que siguen las últimas tendencias y tienen altas probabilidades de explotar. Si bien el ecosistema cripto se caracteriza por una alta volatilidad, en este perfil, conseguiras exposición a los proyectos más volátiles, nuevos o tendencias en la comunidad.</p><h2 class="text-center">¿Estás preparado?</h2>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="col" style="margin-right: 20px;background-image:linear-gradient(to left, blue, white); height:100%">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="text-center">InverCript beneficio</h1></td>
        </tr>
      </tbody>
    </table>
  </div>

   <!--<div class="row mx-auto" style="margin: 100px">
    <div class="col" style="border: solid gray 1px; height: 300px">
      <p>Un mercado lleno de oportunidades: La fusión de nuestros perfiles ahorrador e inversor, pero extendiendo una parte de la gestión a activos más especulativos que siguen las últimas tendencias. Si bien el ecosistema cripto se caracteriza por una alta volatilidad, en este perfil, conseguiras exposición a los proyectos más especulativos, nuevos o tendencias en la comunidad.</p>
      <h4 class="text-center">¿Estás preparado?</h4>
    </div>
    <table class="col bg-primary" style="margin-left: 20px;">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="text-center">Especulación</h1></td>
        </tr>
      </tbody>
    </table>
  </div> -->

  

  <p></p>

</div>


{% endblock %}